body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(gold, purple);
    color: black;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
}

.banner{
    text-align: center;
    margin-bottom: 30px;
}

.banner img{
    max-width: 100%;
    height: auto;
}

.elenco{
 display: flex; 
 justify-content: space-around; 
 margin-bottom: 20px; 
}

.ator{
    text-align: center;
}

.ator img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 7.5px;
    box-shadow: 5px 5px 10px black;
}