body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: gold;
    color: black;
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
}

.banner{
    text-align: center;
}